<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Weather Dashboard</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include 'logo.html' %}
    <div class="container dashboard">
        {% if weather %}
            <h3>Aktualna pogoda w {{ weather.city }}:</h3>
            <p>Temperatura: {{ weather.temperature }}°C</p>
            <p>Opis: {{ weather.description }}</p>
            <p>Wilgotność: {{ weather.humidity }}%</p>
            <p>Siła wiatru: {{ weather.wind_speed }} km/h</p>
        {% endif %}
    </div>
    <div>
        <canvas id="myChart" style="height:400px; width:800px;"></canvas>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js">
            integrity="sha384-nty7tujjwV/qMl5CNKz9+9c/zMkd/HtHzLeD/rkkRjskC8JzP5+pyur1f9C6lCqBK"
    </script>
    <script>
        const ctx = document.getElementById('myChart');
    
        const labels = {{ chart_data.labels | safe }};
        const data = {{ chart_data.datasets.0.data | safe }};
    
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Temperatura',
                    data: data,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                    fill: false,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
    

</body>
</html>