<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include 'logo.html' %}
    <h3>Zaloguj się lub zarejestruj</h3>
    <div class="container">
        <div class="center-buttons">
            <a href="{% url 'login' %}" class="btn btn-primary btn-login">Logowanie</a>
            <br> <br> <br>
            <a href="{% url 'register' %}" class="btn btn-primary btn-login">Rejestracja</a>
        </div>
    </div>
</body>
</html>
