<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Rejestracja</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="container">
    {% include 'logo.html' %}
    <h2>Rejestracja</h2>
    <div class="container login-form-container">
        <form method="POST" class="mb-3">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nazwa użytkownika">
            <input type="password" name="password1" placeholder="Hasło">
            <input type="password" name="password2" placeholder="Powtórz hasło">
            <button type="submit" class="btn btn-primary btn-login">Zarejestruj się</button>
            <a href="{% url 'login' %}" class="register-link mb-3">Masz już konto? Zaloguj się</a>
        </form>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {{ chart_data | safe }},
    });
 </script>
</body>
</html>